<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}BeIT{%endblock%}</title>
  </head>
  <style>
    .text{
      color: rgb(58, 58, 58);
    }

  </style>
  <body style="background-color: rgb(255, 255, 255);"> 
    
    <nav class="navbar navbar-expand-lg navbar-success bg-success">  
    <div class="container-fluid">
      <a href="/" style="text-decoration:none; color:rgb(0, 187, 255);"><h1>BeIT</h1></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link ms-3 btn btn-dark text-light" href="/">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ms-3 btn btn-dark text-light" href="/logout">logout</a>
          </li>
        <li class="nav-item">
          <a class="nav-link ms-3 btn btn-dark text-light" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ms-3 btn btn-dark text-light" href="/signUp">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ms-3 btn btn-dark text-light" href="/jobboard">Jobs</a>
        </li>
     </div>
    </div>
</nav>
{% block pageContent%}
<div class="container mt-5">
<h1 class="text">BeIT.tech is the place to begin your career in Information Technology!</h1>
<p class="text">
<h1>Sign up today to begin taking jobs! BeIT.</h1>
</div>
{%endblock%}
</p>


  </body>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>