{% extends 'base.html' %} {% block title %} Jobs at BeIT {% endblock %} {% block
pageContent %}

<h1 class="container mt-3 text-center">Available jobs:</h1>
<div class="container">
  <h3 class="ms-5"><a href="/jobpost1"><span style="color: white;">Teach CS at Montogemery Elementary (10th Grade)</span></a></h3>
  <h3 class="ms-5"><a href="/jobpost2"><span style="color: white;">Help Envirotek with IT every Sunday</span></a></h3>
  <h3 class="ms-5"><a href="/jobpost3"><span style="color: white;">Come to our Church to work on our computers! Stay for pizza dinner!</span></a></h1>
</div>
{% endblock %}
