{% extends 'base.html' %} {% block title%} Church computers + pizza{%endblock%}
{% block pageContent%}
<div class="container mt-3 text-center">
  <h1>Come to our Church to work on our computers! Stay for pizza dinner!</h1>
  <p>
    We are a small Methodist Church located in Springfield VA. <br />We would
    love students who have pass CompTIA! <br />You will mainly be working on our
    laser printers and windows laptops. <br />
    Students will be fed dinner after about 30 minutes of work.
  </p>
  <p>We cannot afford to hire, if you can help please call 202 546 0392</p>
</div>
<a href="/complete" class="btn btn-success ms-3" role="button"
  >Completed this job? Click here!</a
>
<a href="#" class="btn btn-success ms-3" role="button">Report Abuse</a>

{% endblock %}
