{% extends 'base.html' %} {% block title%} Teach CS at Montgomery
Elementary!{%endblock%} {% block pageContent%}
<div class="container mt-3 text-center">
  <h1>Teach CS at Montogemery Elementary (10th Grade)</h1>
  <p>
    We would like 2 students to work as a team teaching basic python at our
    summer camp. <br />
    You must have completed any Python college level course with a A or B and be
    willing to send a teacher reccomendation or let us review your transcript.
    <br />
    Snacks will be given around lunch time!
  </p>
  <p>interested? call 703-675-9203</p>
</div>
<a href="/complete" class="btn btn-success ms-3" role="button"
  >Completed this job? Click here!</a
>
<a href="#" class="btn btn-success ms-3" role="button">Report Abuse</a>

{% endblock %}
