{% extends 'base.html' %} {% block title%} Get experience with
Envirotek{%endblock%} {% block pageContent%}
<div class="container mt-3 text-center">
  <h1>Help Envirotek with IT every Sunday</h1>
  <p>
    We are a small company looking for some students to help with our printers
    and to troubleshoot some company computers! <br />You'll be working in a
    windows environments. <br />We do not want &quot;no experience&quot; as you
    will be required to complete some tasks on your own. <br />
    The possibility for higher employment exists for students we work well with.
    Thanks!
  </p>
  <p>If you would like to help call 703 413 6859</p>
</div>
<a href="/complete" class="btn btn-success ms-3" role="button"
  >Completed this job? Click here!</a
>
<a href="#" class="btn btn-success ms-3" role="button">Report Abuse</a>

{% endblock %}
